<mat-toolbar >
    <mat-toolbar-row>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"> 
            <img src="../../../assets/Logo.png" alt="Logo" class="logo">
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <span matPrefix> </span>
            <form action=""><br>
            <mat-form-field  >
                <span matPrefix></span>
                <input type="search" name="Search" id="" matInput placeholder="Search your Product...."  >
                <mat-icon matSuffix >search</mat-icon>
            </mat-form-field>
        </form>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 buttons">
            <mat-list>
                <mat-list-item><mat-icon matTooltip="Cart_Items">add_shopping_cart</mat-icon> </mat-list-item>
                <mat-list-item> <mat-icon matTooltip="Likes">favorite_border</mat-icon> </mat-list-item>
                <mat-list-item> <mat-icon matTooltip="Order_Status">location_on</mat-icon> </mat-list-item>
                <mat-list-item> <mat-icon matTooltip="Sign_in">person</mat-icon> </mat-list-item>
            </mat-list>
        </div>
        <!-- <button mat-icon-button><mat-icon > menu</mat-icon></button> -->
        
    </mat-toolbar-row>
</mat-toolbar>